
p.NINE {
  color: #ff6767;
  padding-left: 10%;
}
p.TEN {
  color: #92ff92;
  padding-left: 0;
}
p.JUICE {
  color: #ffea02;
  padding-left: 20%;
}
p.AARON {
  color: #8fc698;
  padding-left: 10%;
}
p.MICAH {
  color: #65f87e;
  padding-left: 20%;
}
p.DANNY {
  color: #bef5c8;
  padding-left: 30%;
}
p.COP {
  color: #84e1ff;
  padding-left: 50%;
}
p.NINE.interrupting {
  color: #ff6767;
  padding-left: 70%;
}
p.JUICE.interrupting {
  color: #ffea02;
  padding-left: 80%;
}
p.JASON {
  color: #fdff7f;
  padding-left: 10%;
}
p.EMILY {
  color: #fff600;
  padding-left: 20%;
}
p.LORI {
  color: #ffc600;
  padding-left: 30%;
}
p.LAUGHTER {
  color: #ffffff;
  padding-left: 50%;
}
p.THUY {
  color: #ffb975;
  padding-left: 10%;
}
p.ROGER {
  color: #ffa4fa;
  padding-left: 15%;
}
p.AARON.radio {
  color: #8fc698;
  padding-left: 40%;
}
p.MICAH.radio {
  color: #65f87e;
  padding-left: 45%;
}
p.DANNY.radio {
  color: #bef5c8;
  padding-left: 50%;
}
p.NANCY {
  color: #ffcc00;
  padding-left: 10%;
}
p.BARTENDER {
  color: #8cbfff;
  padding-left: 25%;
}
p.RADIO {
  color: #ffffff;
  padding-left: 50%;
}
p.LACRECIA {
  color: #00fff6;
  padding-left: 10%;
}
p.BURGER.SPECIALIST.intercom {
  color: #fff074;
  padding-left: 40%;
}
p.BURGER.SPECIALIST {
  color: #fff074;
  padding-left: 20%;
}
p.BLUETOOTH {
  color: #ffffff;
  padding-left: 50%;
}
p.TRACEY {
  color: #89c6ff;
  padding-left: 50%;
}
p.BYSTANDER.ONE {
  color: #fdb9b9;
  padding-left: 30%;
}
p.BYSTANDER.TWO {
  color: #c93eff;
  padding-left: 30%;
}
p.BYSTANDER.THREE {
  color: #e84d00;
  padding-left: 30%;
}
p.ED {
  color: #d2ff00;
  padding-left: 10%;
}
p.TIM {
  color: #93ffe9;
  padding-left: 40%;
}
p.TIM.closer {
  color: #93ffe9;
  padding-left: 25%;
}
p.TIM.even.closer {
  color: #93ffe9;
  padding-left: 15%;
}